<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>NomPrest  </td>
            <td>Employe</td>
            <td>Anciennete</td>
            <td>Prix</td>
            <td>Rapport qualite prix</td>   
        </tr>
        <% @prestataire.each do |prest| %>
            <tr>
                <td><%= prest.getNomPrest() %></td>
                <td><%= prest.getEmp() %></td>
                <td><%= prest.getAnc() %> ans</td>
                <td><%= prest.getPrixM3() %>  Ar/m3</td>
                <td><%= prest.getQualityByRn() %></td>
            </tr>
        <% end %>
    </table>
</body>
</html>